.profile {
	font-size: 14px;
	padding: 8px;
	margin: 12px 0;
	border-radius: 3px;
	border: 1px solid #dadada;
	background: #eaeaea;
}

.profile__picture {
	float: left;
	border-radius: 50%;
	height: 36px;
	margin: 0;
	overflow: hidden;
	width: 36px;
	margin-right: 12px;
	background: #bfbfbf;
}

.profile__picture img {
	max-height: 100%;
	max-width: 100%;
}

.profile__name {
	color: #000000;
	margin: 0;
	line-height: 1.5;
}

.profile__nickname {
	margin: 0;
}
